// this file is for over writing the theme properties of the default servoy properties file.
@import 'servoy_theme.less?version=2023.3.0_ng2';

/* START General */

@text-color: #FFF; // default:#777777

@text-color-inverse: #777777; // default:@text-color

@field-color: #777777; // default:@text-color
/* START Sidenav */
/* START Navbar */

@navbar-bg-highlighted: #ffffff; // default:@main-color-dark

@navbar-text-color: #ffffff; // default:@main-color-inverse
/* START Tabs */
/* START Windows */
/* START Dialogs */
/* START Tables */

@table-bg: #FF0000; // default:inherit

@table-header-bg: #FF00FF; // default:inherit

@table-row-odd-bg-color: #C0C0C0; // default:@body-bg

@table-row-odd-text-color: #F9F9F9; // default:@text-color

@table-row-even-bg-color: #C0C0C0; // default:@body-bg

@table-row-selected-bg-color: #333; // default:@main-color
/* START Breadcrumb specific style */
/* START Brand colors */
/* START Validations */
/* START Margins and Padding */